.heading button{
    position: absolute;
    top: 32%;
    right: 60px;
    padding: 12px 11px 12px 11px;
    font-size: 17px;
    background-color: #c62cfe;
    color: #fff;
}
.open-forum-content{
    padding-top: 12px;
}
.open-forum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 23px 12px;
    border-bottom: 2px solid black;
}
.open-forum h2{
    margin-top: 23px;
    text-align: left;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 12px;
}

.open-forum .answer{
    padding: 12px 11px 12px 11px;
    font-size: 17px;
    background-color: #c62cfe;
    color: #fff;
    margin-right: 23px;
}


